<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments/header :: headerscripts">&nbsp;</div>
    <title>Sensor List Form</title>
</head>
<body>
<div class="bg"/>
<div class="jumbotron">
    <div class="container">

        <h1 th:text="#{form.home.formtitle}">Sensoreiden maailma</h1>

        <p><a class="btn btn-primary btn-lg" href="#" th:href="@{/account/register}" role="button">Rekisteröidy</a>
            <a class="btn btn-primary btn-lg" href="#" th:href="@{/login}" role="button">Kirjaudu</a></p>
    </div>
</div>
<div th:replace="/fragments/footer :: footer">&copy; 2016 Ylitormatech</div>
<script>
    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax() {
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight - scrolled) + 'px');
    }

    $(window).scroll(function (e) {
        parallax();
    });
</script>

</body>
</html>