<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments/header :: headerscripts">&nbsp;</div>
    <title>Sensor Create Form</title>

</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading" style="background-color: green;">
        <h3 class="panel-title" style="color: white;">
            <strong th:text="#{form.sensorcreate.formtitle}">Luo sensorit perusteksti</strong></h3>
    </div>
    <div class="panel-body">
        <form method="post" th:action="@{/create}" th:object="${sensorForm}">


            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" th:text="#{form.sensorcreate.name.label}">
                            Sensorin nimi2
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" size="40" name="name"
                               th:placeholder="#{form.sensorcreate.name.placeholder}"/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" th:text="#{form.sensorcreate.usagetoken.label}">
                            Sensorin tyyppi2
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div th:each="usagechoice : ${usageChoices}">
                            <input type="radio" name="usagetoken" th:value="${usagechoice}"/>
                            <label th:text="#{${usagechoice}}"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <img src="holder.js/200x200"/>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-xs btn-primary" disabled="disabled"
                            th:text="#{form.sensorcreate.addimgbutton.name}">Lataa kuva
                    </button>

                </div>
            </div>
            <button type="submit" class="btn btn-small btn-primary" th:text="#{form.sensorcreateform.savebutton.name}">
                SENS
            </button>
        </form>
    </div>

</div>

<div th:replace="/fragments/footer :: footer">&copy; 2016 Ylitormatech</div>

</body>

</html>