<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments/header :: headerscripts">&nbsp;</div>
    <title>Sensor Show Form</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: green;">
        <h3 class="panel-title" style="color: white;">
            <strong th:text="#{form.sensordeleteconfirmation.formtitle}">Luo sensorit perusteksti</strong></h3>
    </div>
    <div class="panel-body">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" th:text="#{form.sensordeleteconfirmation.name.label}">
                            Sensorin nimi
                        </label>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${sensorForm.name}">Sensorin nimi</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" th:text="#{form.sensordeleteconfirmation.usagetoken.label}">
                            Sensorin tyyppi
                        </label>
                    </div>
                    <div class="col-md-8">
                        <span th:text="#{${sensorForm.usagetoken}}">Sensorin nimi</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <img data-src="holder.js/200x200"/>
                </div>
            </div>
        <a role="button" th:href="@{/sensors/__${sensorForm.id}__/delete}" class="btn btn-small btn-danger" th:text="#{form.sensordeleteconfirmation.deletesensorbutton.name}" >Muokkaa2</a>
            <a role="button" th:href="@{/sensors/list}" class="btn btn-small btn-default" th:text="#{form.sensordeleteconfirmation.tosensorlistbutton.name}" >SENS</a>
    </div>
</div>
<div th:replace="/fragments/footer :: footer">&copy; 2016 Ylitormatech</div>
</body>
</html>