<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" ></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
    <title>Sensor Update Form</title>

</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading" style="background-color: green;">
        <h3 class="panel-title" style="color: white;">
            <strong th:text="#{thyme.create.h1}">Luo sensorit perusteksti</strong></h3>
    </div>
    <div class="panel-body">
        <form method="post"  th:action="@{/create}">

            <div class="form-group">
                <label class="control-label" th:value="#{sensorcreate.label.name}">
                    Sensorin nimi
                </label>
                <input cssClass="form-control" type="text" value="${sensorForm.name}"/>

                    <div th:each="usagechoice : ${usageChoices}">
                        <input type="checkbox" name="searchValues" th:name="usage" th:value="${usagechoice}" />
                        <label th:text="#{${usagechoice}}"></label>
                    </div>

            </div>



        </form>


    </div>
    <button type="submit" class="btn btn-small btn-primary">Tallenna</button>
</div>




</body>

</html>