<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments/header :: headerscripts">&nbsp;</div>
    <title>Sensor List Form</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: green;">
        <h3 class="panel-title" style="color: white;">
            <strong th:text="#{form.userlist.formtitle}">Käyttäjälista</strong></h3>
    </div>
    <div class="panel-body">

        <div class="col-md-6">
            <a role="button" th:href="@{/sensors/new}" class="btn btn-small btn-primary"
               th:text="#{form.userlist.adduserbutton.name}">Lisää</a>

            <table class="table table-hover">
                <tr>
                    <th th:text="#{form.userlist.username.col.title}">Nimi</th>
                    <th th:text="#{form.userlist.email.col.title}">Tyyppi</th>
                    <th th:text="#{form.userlist.role.col.title}">Tyyppi</th>
                </tr>
                <tr th:each="user : ${users}"
                    th:onclick="'javascript:rowClicked(\'' + ${user.id} + '\');'">
                    <td th:text="${user.username}">Uuername</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="#{${user.role}}">role</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer">&copy; 2016 Ylitormatech</div>
<script>
    function rowClicked(value) {
        location.href = "/account/" + value;
    }
</script>
</body>
</html>